@charset "utf-8";

.margin{width:1000px;margin:0 auto;}
header{border-bottom: 2px solid #f00;height:98px;background: #F6F6F6;}
header>div{height:98px;display: flex;}
header>div img{width:240px;height:98px;}
header h2{display: block;font:20px/98px "";color:#000;}
header>div p{font:18px/2 "";height:20px;margin-top:60px;margin-left:500px;}

footer{height:150px;background: #F6F6F6;display: flex;justify-content: center;align-items:center;text-align: center;}
footer p{width:1000px;}

